In [1]:
print("Hello")

Hello

In [20]:
print("This line will be printed")

This line will be printed

In [21]:
print(1)

1

In [26]:
x = 1 
if x == 2:
    # indented four spaces
    print("x is 1.")

In [24]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [30]:
my_val = int(input("Enter a number:"))

In [31]:
type(my_val)

int

In [32]:
print(my_val)

5

In [33]:
student_marks = 25
print(student_marks)
print("studnet_marks")

25
studnet_marks

In [34]:
myint = 7
print(myint)
print(type(myint))

7
<class 'int'>

In [35]:
x=int(5.0)
print(x)

5

In [36]:
myfloat = 7.5
print(type(myfloat))
print(myfloat)

<class 'float'>
7.5

In [37]:
myfloat = float(5)
print(myfloat)

5.0

In [39]:
myvar = "7"
print(myvar)
type(myvar)

7

str

In [40]:
y = int(myvar)
type(y)

int

In [41]:
a=4
b=2
c=a/b
int(c)

2

In [42]:
my_value=5
print(my_value)

5

In [43]:
num=5
num

5

In [45]:
mystring='hello'
print(mystring)

hello

In [46]:
mystring="hello"
mystring

'hello'

In [48]:
mystring="Don't worry about apostrophes!"
print(mystring)

Don't worry about apostrophes!

In [49]:
one = 1
two = 2
three = one + two
print(three)

3

In [53]:
a = "hello"
b = "world"
c = a + b
print(c)

helloworld

In [54]:
a, b , c = 3, 4, 7
print(a,b)
print(c)

3 4
7

In [55]:
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:

mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

In [59]:
mylist=[1,3,4,6,7,9, "hi", "hello"]
print(mylist)

[1, 3, 4, 6, 7, 9, 'hi', 'hello']

In [62]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])

1
3
4
6
7
9

In [64]:
value = mylist[1]
print(value)

3

In [65]:
new_list = [21,33,45,75,91,99]
print(new_list)

[21, 33, 45, 75, 91, 99]

In [66]:
new_list.append(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 101]

In [67]:
new_list.insert(1,107)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101]

In [68]:
new_list.extend([200,201,202])
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201, 202]

In [69]:
new_list.pop(1)
print(new_list)

[21, 33, 45, 75, 91, 99, 101, 200, 201, 202]

In [70]:
new_list.remove(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 200, 201, 202]

In [73]:
del mylist[1]
print(mylist)

[1, 7, 9, 'hi', 'hello']

In [74]:
new_list = [21,33,45,75,91,99]

In [75]:
new_list[2]

45

In [76]:
new_list[-1]

99

In [79]:
new_list[:3]

[21, 33, 45]

In [80]:
new_list[1:]

[33, 45, 75, 91, 99]

In [81]:
new_list[2:4]

[45, 75]

In [82]:
new_list[1:5:2]

[33, 75]

In [83]:
new_list[-3]

75

In [85]:
new_list[::-1]

[99, 91, 75, 45, 33, 21]

In [87]:
numbers = [1,2,3]
strings = ["Hello World"]
names = ["john","Eric","Jessica"]
second_name=None
print(numbers)
print(strings)
print("The second name on the names list is %s"% second_name)

[1, 2, 3]
['Hello World']
The second name on the names list is None

In [88]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [90]:
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

In [103]:
x = 2
print(x==2)#prints out True
print(x==3)#prints out False
print(x<3)#prints out True

True
False
True

In [104]:
if(x==2):
    print("Yay!")

Yay!

In [106]:
(1 >=3) and (4>2)

False

In [112]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")
    if name == "John" or name == "Rick":
        print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [113]:
x="abc"
x in "abcdef"

True

In [114]:
name = "John"
if name in ["John","Rick"]:
    print("Your name is either John or Rick. ")

Your name is either John or Rick.

In [118]:
x = 4*0.5
if x == 2:
 print("x equals two!")
else:
 print("x does not equal to two.")

x equals two!

In [119]:
odd_list=[1,2,3,4,5]
even_list=[]
if odd_list:
    print(odd_list)
if even_list:
    print(even_list)

[1, 2, 3, 4, 5]

In [120]:
number_type = 'odd' if x%2!=0 else 'even'
print(number_type)

even

In [121]:
number_type ='odd' if x%2==0 else 'even'
print(number_type)

odd

In [122]:
x=[1,2,3]
y=[1,2,3]
print(x == y )
print(x is y )

True
False

In [123]:
num=[1,2,3,5,7]
num_copy = num.copy()

In [124]:
num_copy

[1, 2, 3, 5, 7]

In [125]:
num_copy.sort(reverse=True)
num_copy

[7, 5, 3, 2, 1]

In [126]:
num

[1, 2, 3, 5, 7]

In [127]:
num is num_copy

False

In [130]:
print(not False)
print((not False) == (False))

True
False

In [131]:
primes = [2,3,5,7,9]
for x in primes:
    print(x)

2
3
5
7
9

In [132]:
for x in range(len(primes)):
    print(primes[x])

2
3
5
7
9

In [133]:
for x in range(5):
    print(x)

0
1
2
3
4

In [134]:
for x in range(3,6):
    print(x)

3
4
5

In [135]:
for x in range(3,8,2):
    print(x)

3
5
7

In [137]:
marks = [30,25,28,35,32]
count=0
while count < len(marks):
    print(count)
    count += 1

0
1
2
3
4

In [144]:
marks = [30,25,28,35,32]
count = 0
while True:
    if count>= len(marks):
       break
    print(marks[count])
    count += 1

30
25
28
35
32

In [145]:
count =0
while True:
    if count>=5:
        break
    print(count)
    count+=1

0
1
2
3
4

In [6]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s.Your current balance is $%.2f."%data
print(format_string)

Hello John Doe.Your current balance is $53.44.

In [8]:
data = ("John","Doe",53.44)
format_string = f"Hello{data[0]}{data[1]}. Your current balance is ${data[2]}."
print(format_string)

HelloJohnDoe. Your current balance is $53.44.

In [11]:
data = ("John","Doe", 53.44)

format_string="Hello{}{}.Your current balance is ${}.".format(*data)
print(format_string)

HelloJohnDoe.Your current balance is $53.44.

In [16]:
astring = "hello world!"
print(astring.index("o"))

4

In [17]:
astring = "Hello world!"
print(astring.count("1"))

0

In [19]:
mystr = "This NAME!"
mystr.swapcase()

'tHIS name!'

In [20]:
mystr.lower()

'this name!'

In [21]:
astring = "Hello world!"
print(astring)
print(astring[3:7])

Hello world!
lo w

In [22]:
astring = "Hello world!"
print(astring[-3::2])

l!

In [23]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [24]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [25]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

In [28]:
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

In [33]:
x = 2
print(x==2)
print(x==3)
print(x < 3)

True
False
True

In [34]:
if (x==2):
    print("Yay!")

Yay!

In [35]:
(1>=2) and (4>2)

False

In [36]:
number = 1
second_number = 5
first_array =[]
second_array =[]

if number>15:
    print("1")
    
if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

In [37]:
primes =[2,3,5,7,9]
for x in primes:
    print(x)

2
3
5
7
9

In [41]:
for x in range(len(primes)):
    print(primes[x])

2
3
5
7
9

In [42]:
for x in range(5):
    print(x)

0
1
2
3
4

In [46]:
for x in range(3, 6):
    print(x)

3
4
5

In [47]:
for x in range(3,8, 2):
    print(x)

3
5
7

In [48]:
marks = [30,25,28,35,32]
count = 0
while count < len(marks):
    print(count)
    count +=1

0
1
2
3
4

In [1]:
marks = [30,25,28,35,32]
count = 0
while True:
    if count >= len(marks):
     break
    print(marks[count])
    count += 1

30
25
28
35
32

In [2]:
count = 0 
while True:
    if count >= 5:
        break
    print(count)
    count +=1

0
1
2
3
4

In [3]:
marks = [50,55,70,"F",33]
for i in marks:
    if i == "F":
        break
    print(i)

50
55
70

In [4]:
for x in range(10):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [6]:
for x in range(1,11):
    if x % 2 == 0:
        print("Even")
        continue
    print(x)

1
Even
3
Even
5
Even
7
Even
9
Even

In [9]:
count=0
while(count<5):
    print(count)
    count +=1

else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [10]:
for i in range(1,10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4