In [3]:
phonebook = {}
phonebook["John"] = "938477566"
phonebook["Jack"] = "938377264"
phonebook["Jill"] = "947662781"
print(phonebook)

{'John': '938477566', 'Jack': '938377264', 'Jill': '947662781'}

In [5]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781,
}
# values = list(phonebook.values())

In [6]:
phonebook["Jack"]

938377264

In [7]:
phonebook.keys()

dict_keys(['John', 'Jack', 'Jill'])

In [8]:
phonebook.values()

dict_values([938477566, 938377264, 947662781])

In [9]:
phonebook.items()

dict_items([('John', 938477566), ('Jack', 938377264), ('Jill', 947662781)])

In [11]:
phonebook = {"John" : 938477566, "Jack" : 938377264, "Jill" : 947662781}


for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))
print("\n")


for name in phonebook.keys():
    print("Phone number of %s is %d" % (name, phonebook[name]))
print("\n")


for number in phonebook.values():
    print("Phone number is %d" % (number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781


Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781


Phone number is 938477566
Phone number is 938377264
Phone number is 947662781

In [12]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [13]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

{'Jack': 938377264, 'Jill': 947662781}

In [15]:
student = ["Jack", "Jill", "John"]
marks = [11,21,31]
list(zip(student,marks))

[('Jack', 11), ('Jill', 21), ('John', 31)]

In [ ]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}


phonebook["Jake"] = 938273443


del phonebook["Jill"]


print(phonebook)
print()

if "Jake" in phonebook:
    print("Jake is listed in the phonebook.")
if "Jill" not in phonebook:
    print("Jill is not listed in the phonebook.")

{'John': 938477566, 'Jack': 938377264, 'Jake': 938273443}

Jake is listed in the phonebook.
Jill is not listed in the phonebook.

In [20]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
    if word != "the":
        word_lengths.append(len(word))
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [22]:
word_lengths = [len(word) for words in words  if word !="the"]
word_lengths

[3, 3, 3, 3, 3, 3, 3, 3, 3]

In [24]:
sentence = "the qicl brown for jumps over the lazy dog"
words = sentence.split()
word_lengths = [len(word) for word in words if word !="the"]
print(words)
print(word_lengths)

['the', 'qicl', 'brown', 'for', 'jumps', 'over', 'the', 'lazy', 'dog']
[4, 5, 3, 5, 4, 4, 3]

In [25]:
numbers = [34.6,-203.4,44.9,68.3,-12.2,44.6,12.7]
newlist =[34.6,44.9,68.3,44.6,12.7]
print(newlist)

[34.6, 44.9, 68.3, 44.6, 12.7]

In [26]:
squares = {i:i**2 for i in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
"my name is Eric and Eric is my name".split()

['my', 'name', 'is', 'Eric', 'and', 'Eric', 'is', 'my', 'name']

In [28]:
print(set("my name is Eric and Eric is my name".split()))

{'Eric', 'name', 'my', 'is', 'and'}

In [29]:
a = set(["Jake", "John", "Eric"])
print(a)
b = set(["John", "Jill"])
print(b)

{'Jake', 'John', 'Eric'}
{'John', 'Jill'}

In [30]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.intersection(b))

{'John'}

In [7]:

print(a.symmetric_difference(b))

{'Jake', 'Eric', 'Jill'}

In [3]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.difference(b))
print(b.difference(a))

{'Jake', 'Eric'}
{'Jill'}

In [4]:
a.difference_update(b)

In [5]:
print(a)
print(b)

{'Eric', 'Jake'}
{'John', 'Jill'}

In [6]:
a = set(["Jake","John","Eric"])
b = set(["John","Jill"])
print(a.union(b))
a | b

{'John', 'Jake', 'Eric', 'Jill'}

{'Eric', 'Jake', 'Jill', 'John'}

In [8]:
#In 26

In [10]:
info = ("John",85,1.24)
type(info)

tuple

In [1]:
info = "Eric" , 82, 1.22
type(info)

tuple

In [2]:
name,roll,gpa = info
print(name)
print(roll)
print(gpa)

Eric
82
1.22

In [3]:
singleton = (1,)
type(singleton)

tuple

In [4]:
mylist =["Ayush Thapa","Ana Gurung","Basant Pradhan","Dristi Chhetri"]
tuple(mylist)

('Ayush Thapa', 'Ana Gurung', 'Basant Pradhan', 'Dristi Chhetri')

In [5]:
info[0]

'Eric'

In [6]:
info[1]

82

In [7]:
info[-1]

1.22

In [8]:
for values in info:
    print(values)

Eric
82
1.22

In [9]:
info.count("Eric")

1

In [10]:
info.index("Eric")

0