In [10]:
def my_function():
    print("Hello From My Function!")
y = my_function()

Hello From My Function!

In [12]:
def my_function_with_args(username,greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

In [13]:
my_function_with_args("Sam","a good day!")

Hello, Sam , From My Function!, I wish you a good day!

In [15]:
def sum_two_numbers(a, b):
    return a+b

In [16]:
y = sum_two_numbers(5,17)
print(y)

22

In [26]:

def my_function():
    print("Hello From My Function!")

def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s" % (username, greeting))

def sum_two_numbers(a, b):
    return a + b


my_function()


my_function_with_args("John Doe", "a great year!")


x = sum_two_numbers(1, 2)
print(x)

Hello From My Function!
Hello, John Doe , From My Function!, I wish you a great year!
3

In [50]:
def list_benefits():
    return ["More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"]

def build_sentence(info):
    return f"{info} is a benefit of functions!"

def name_the_benefits_of_functions():
    listA = list_benefits()
    for x in listA:
        print(build_sentence(x))

name_the_benefits_of_functions()

More organized code is a benefit of functions!
More readable code is a benefit of functions!
Easier code reuse is a benefit of functions!
Allowing programmers to share and connect code together is a benefit of functions!

In [52]:
def add_numbers(first_num=0, second_num=0):
    return first_num+second_num

In [53]:
print(add_numbers())

0

In [58]:
print(add_numbers(7,4))

The first number is:7
The second number is:4
11

In [60]:
print(add_numbers(second_num=4))

The first number is:0
The second number is:4
4

In [62]:
print("Hello")
print("Hello", "Word")
print("Hello", "Word", "from", "TBC")

Hello
Hello Word
Hello Word from TBC

In [64]:
def make_path(*names):
    result = ""
    for name in names:
        result +=name +"/"
    return result

In [66]:
print(make_path("home", "docs"))

home/docs/

In [68]:
print(make_path("home","code","python","sorter"))

home/code/python/sorter/

In [69]:
def show_details(title="Details", **info):
    print(title)
    for name in info:
        print(name,":",info[name])

In [70]:
show_details(title="warning")

warning

In [71]:
show_details(msg="file created", err="no issues")

Details
msg : file created
err : no issues

In [73]:
show_details(title="error", reason="disk full")

error
reason : disk full

In [74]:
def sqaure(num):
    return num**2

In [77]:
sqaure(3)

9

In [81]:
my_nums = [1,2,3,4,5]
for n in my_nums:
    print(sqaure(n))

1
4
9
16
25

In [83]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [85]:
mynames =['john','cindy','sarah','kelly','Mike']

In [86]:
list(map(splicer,mynames))

['even', 'c', 's', 'k', 'even']

In [87]:
def square(num):
    result = num**2
    return result

square(2)

def square(num):
    return num**2

square(2)

def square(num): return num**2

square(2)

lambda num: num ** 2

square_l = lambda num: num ** 2

square_l(3)

9

In [1]:
my_nums = [1, 2, 3, 4, 5]

def square(num):
    return num**2

list(map(square, my_nums))
# Output: [1, 4, 9, 16, 25]

list(map(lambda x: x ** 2, my_nums))
# Output: [1, 4, 9, 16, 25]

names = ["Swikrit Thapa", "Arju Sharma", "Mavira KC", "Nistha Acharya", "Hingish Limbu"]

lambda s: s[0]
# Output: <function __main__.<lambda>(s)>

list(map(lambda s: s[0], names))
# Output: ['S', 'A', 'M', 'N', 'H']

list(map(lambda s : s.upper(), names))
# Output: ['SWIKRIT THAPA', 'ARJU SHARMA', 'MAVIRA KC', 'NISTHA ACHARYA', 'HINGISH LIMBU']

list(map(lambda s : s.split()[-1], names))
# Output: ['Thapa', 'Sharma', 'KC', 'Acharya', 'Limbu']

list(map(lambda s: " ".join(s.split()[::-1]), names))
# Output: ['Thapa Swikrit', 'Sharma Arju', 'KC Mavira', 'Acharya Nistha', 'Limbu Hingish']

['Thapa Swikrit',
 'Sharma Arju',
 'KC Mavira',
 'Acharya Nistha',
 'Limbu Hingish']

In [3]:

my_nums = [1, 2, 3, 4, 5]

def square(num):
    return num**2

list(map(square, my_nums))


list(map(lambda x: x ** 2, my_nums))


names = ["Swikrit Thapa", "Arju Sharma", "Mavira KC", "Nistha Acharya", "Hingish Limbu"]

lambda s: s[0]


list(map(lambda s: s[0], names))


list(map(lambda s: s.upper(), names))


list(map(lambda s : s.split()[-1], names))


list(map(lambda s: " ".join(s.split()[::-1]), names))


list(map(lambda s: s.split()[-1], names))

list(map(lambda s: " ".join(s.split()[::-1]), names))


list(map(lambda s: s.upper(), names))

lambda s: s[::-1]


list(map(lambda s: s[::-1], names))

ans = lambda x, y: x + y
ans(2, 3)

5